/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box; margin: 0 auto;}
/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    line-height: 32px;
    font-family: Comic sans ms, 'Architects Daughter', cursive, Ubuntu, sans-serif;
    color: #000;
    background-color: lightgrey;
    text-align: center;
}

header, nav, main, footer {
    margin: .15rem auto;
    padding: 1%;
}

header, footer, footer a {
    font-family: Papyrus;
    font-weight: bolder;
    text-align: center;
    background-color: #0088ff;
    color: #FFF;
}


header {
    overflow: auto;
    background-image: url(../../cit230/images/head/o-skyline.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header h1 { font-weight: bold; }

header img {
    width: 92%;
}

header .subheading {}

/* -- NAVIGATION MENU -- */
nav {
    background-color: lightgrey;
}
nav ul {
}

nav ul li a{
    color: #fff;
    border-radius: 2%;

}

nav ul li.active a {
    color: #fff22a;
    font-weight: bolder;
    background-color: lightgray;
}


nav ul li a:hover{
    color: #fff22a;
    background-color: lightgray;
}

nav ul {
}

.hamburger {
    float: right;
    border-radius: 10%;
    display: block;
    position: relative;
    bottom: 2.25rem;
/*
    position: absolute;
    top: 8.0rem;
    right: 3.25rem;
*/
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}

.navigation li.active a {
    background-color: lightgray;
}

.navigation.responsive {
    position: relative;
}

.navigation.responsive li {
    background-color: #0088ff;
    display: block;
    width: 100%;
    margin: 0 0;
    border: 1px solid #000;
}

.navigation.responsive li a {
    padding: 1rem;
/*    text-align: center;*/
    display: block;
    text-decoration: none;
    color: #fff22a;
    font-weight: bold;
}

.navigation.responsive li a:hover {
    background-color: lightgray;
}
/* --End navigation Menu-- */

main {
/*    display: flex;*/
    flex-flow: column;
    justify-content: center;
    align-content: center;
    padding: 0 2%;
    max-width: 1500px;
}

main h2 {}

main figure {
    margin: 0 auto;
    width: 100%;
}

main figure img {
    width: 100%
}

main div{
    width: 100%;
}

form{
    max-width: 1500px;
    text-align: left;

}

section {}

section div {
    overflow: auto;
    margin: 0 auto;
/*    max-width: 1500px*/
}

section div img {}

article p {
/*    max-width: 1500px;*/
    overflow: auto;
    text-align: center;
    margin: 0 auto;
}

article img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: 100%;
/*    max-width: 700px;*/
    /* fill the page in the small/phone view */
    margin: 5px auto 0 auto;
}

table{
    margin: 0 auto;
}

footer { font-size: smaller; }


footer aside {}

footer aside p {margin: -7px auto;}

h1 {
    font-size:  2.25rem;
/*    text-align: center;*/
    color: #fff22a;
}

h2 {
    font-size: 1.75rem ;
/*    text-align: center;*/
    border-bottom: 1px solid #bbb;
    color: #fff22a;
}

h3 {
    font-size: 1.25rem ;
/*    text-align: center;*/
    border-bottom: 1px solid #bbb;
    color: #fff22a;
}

h4 {
    font-size: 1.15rem ;
    font-weight: bolder;
/*    text-align: center;*/
}


/* class */
.smaller{
    font-size: .75em;
}

.larger{
    font-size: 1.25em;
}

.current{}

.current > p {


    font-weight: bold;
}

.highlow{}



.photo{
/*    text-align: center;*/
}

.forecast{
    display: none;

}

.condition{
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    opacity: 50;
    max-width: 100%;
}

.sunny{
    background-image: url(../images/conditions/o-sun.png);
}

.rainy{
    background-image: url(../images/conditions/o-rain.png);
}

.thunder{
    background-image: url(../images/conditions/o-thunderstorm.png);
}

.snowy{
    background-image: url(../images/conditions/o-snow.png);
}

.cloudy{
    background-image: url(../images/conditions/o-cloudy.png);
}

.galleryGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 1500px;
}

.galleryBox{
    max-width: 500px;
    justify-content: center;
    align-content: center;
/*    text-align: center;*/
}

.galleryBox > img{
    max-width: 90%;
}

.galleryBox > img:hover{
    box-shadow: 5px 5px 30px grey;
}

/* id */

#galleryMain{
    max-width: 1500px;
}
